
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <h2 style="font-family: Playfair Display, serif;">Resend confirmation instructions</h2>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <div class="form-inputs" style="font-family: Playfair Display, serif;">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions" style="font-family: Playfair Display, serif;">
          <%= f.button :submit, "Resend confirmation instructions" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
