<div class="search-container" style="padding-bottom:25%;">
  <div class="image-wrapper">
    <%= image_tag "homepage.png", alt: "Centered Image" %>
  </div>
  <%= form_with url: search_books_path, method: :get, local: true, class: "search-form" do |form| %>
    <div class="search-wrapper">
      <%= text_field_tag :query, nil, placeholder: "enter the name of your favourite figure to find what inspired them", class: "search-input" %>
      <button type="submit" class="search-button">
        <%= image_tag "magnify.png", alt: "Search" %>
      </button>
    </div>
  <% end %>
</div>
<div class="container", style="padding-bottom:5%;">
        <div style="float:right;">
      <%= image_tag "https://illustrations.popsy.co/blue/question-mark.svg", alt:"Girl with question mark", class:"images"%>
    </div>
  <div>
  <div class="banner" style="background:#f9e8e3;">
    <h1 id="how">How it works</h1>
    <div style="padding-top:20px;">
<p> <b>Find Your Inspiration:</b> Who's your role model? Which public figure inspires you? </p>
<p> <b>Discover Their Books:</b> Ever wondered which books influenced them? </p>
<p> <b>Search & Get Recommendations:</b> Type their name in the search bar. </p>
<p> <b>AI-Powered Reading List:</b> Our AI generates a tailored reading list for you. </p>
<p> <b>Build Your Library:</b> Browse and add books to your personal collection. </p>
    </div>
  </div>
</div>
</div>
  <div class="container", style="padding-bottom:5%;">
      <div style="float:left;">
        <%= image_tag "https://illustrations.popsy.co/pink/studying.svg", alt:"Boy with a book", class:"images"%>
      </div>
    <div >
    <div class="banner" style="background:#f9e8e3;">
      <h1 id="about">About us</h1>
      <div style="padding-top:20px;">
      <p>Traditional book platforms rely on trends and popularity metrics, often lacking personal touch and meaning. Many readers struggle to find books that deeply resonate with them or reflect the interests of their favorite public figures.</p>

      <p><b>Bibliotech</b> offers a solution for avid readers seeking personalized, meaningful recommendations. Whether you admire celebrities, authors, influencers, politicians, or thought leaders, Bibliotech helps you explore the books that have shaped their worldviews. Discover the literature that inspires your role models and build a truly reflective reading list.</p>
    </div>
    </div>
  </div>
</div>
