<div class="search-container", style="margin-bottom:7%">
  <div class="image-wrapper">
    <%= image_tag "homepage.png", alt: "Centered Image" %>
  </div>
  <%= form_with url: search_books_path, method: :get, local: true, html: {data: {controller: "alert", action:"submit->alert#initSweetalert"}},class: "search-form" do |form| %>
    <div class="search-wrapper">
      <%= text_field_tag :query, nil, placeholder: "enter the name of your favourite figure to find what inspired them", class: "search-input" %>
      <button type="submit" class="search-button" >
        <%= image_tag "magnify.png", alt: "Search" %>
      </button>
    </div>
  <% end %>
</div>
<div class=" container text-center", style="margin-bottom:10%">
  <h1 style="font-family: Noto Serif, serif; font-size:38px; ">
    Scroll down to read all about <strong>Bibliotech!</strong>
  </h1>
</div>
<div class="container", style="padding-bottom:5%;">
    <div style="float:right;">
      <%= image_tag "https://illustrations.popsy.co/blue/question-mark.svg", alt:"Girl with question mark", class:"images"%>
    </div>
  <div>
  <div class="banner" style="background:#f9e8e3;">
    <h1 id="how">How it works</h1>
    <div style="padding-top:20px;">
   <strong>Find Inspiring Role Models</strong><br>
Discover remarkable individuals who can motivate and guide you. Search for public figures you admire, and learn about the books that have influenced their lives and beliefs.<br><br>

<strong>Curated Book Recommendations</strong><br>
Our AI-assisted technology analyzes your interests and preferences to generate a personalized reading list tailored just for you. Explore new authors, genres, and thought-provoking ideas.<br><br>

<strong>Build Your Dream Library</strong><br>
Browse our extensive collection and add books to your personal library with just a few clicks. Nurture your love for reading and continuous learning.<br><br>

<strong>Unlock New Perspectives</strong><br>
Books have the power to broaden our horizons and challenge our assumptions. Uncover the life-changing books that have shaped the minds of your role models and unlock new realms of inspiration.
</div>
  </div>
</div>
</div>
  <div class="container", style="padding-bottom:5%;">
      <div style="float:left;">
        <%= image_tag "https://illustrations.popsy.co/pink/studying.svg", alt:"Boy with a book", class:"images"%>
      </div>
    <div >
    <div class="banner" style="background:#f9e8e3;">
      <h1 id="about">About us</h1>
      <div style="padding-top:20px;">
        Traditional book platforms lack personalized recommendations. Many readers struggle to find books that deeply resonate.<br><br>

<strong>Bibliotech</strong> offers a solution. Explore the books that shaped the worldviews of your role models - celebrities, authors, influencers, politicians, thought leaders. Discover inspiring literature and build a meaningful reading list.

      </div>
    </div>
  </div>
</div>
