<div class="search-container" style="padding-bottom:25%;">
  <div class="image-wrapper">
    <%= image_tag "homepage.png", alt: "Centered Image" %>
  </div>
  <%= form_with url: search_books_path, method: :get, local: true, class: "search-form" do |form| %>
    <div class="search-wrapper">
      <%= text_field_tag :query, nil, placeholder: "enter the name of your favourite figure to find what inspired them", class: "search-input" %>
      <button type="submit" class="search-button">
        <%= image_tag "magnify.png", alt: "Search" %>
      </button>
    </div>
  <% end %>
</div>
<div class="container", style="padding-bottom:5%;"> 
    <div style="float:right;">
      <%= image_tag "https://illustrations.popsy.co/blue/question-mark.svg", alt:"Girl with question mark", class:"images"%>
    </div>
  <div >
  <div class="banner" style="background:#f9e8e3;">
    <h1 id="how">How it works</h1>
    <div style="padding-top:20px;">
      <p>Which public model inspires you? Who would you consider to be your role model?</p>
      <p>Ever wondered which books inspired them?</p>
      <p>Type their name in the search bar above.</p>
      <p>Our AI API will create your next-gen reading list for you!</p>
      <p>Browse and add books to your library.</p>
    </div>
  </div>
</div>
</div>
  <div class="container", style="padding-bottom:5%;"> 
      <div style="float:left;">
        <%= image_tag "https://illustrations.popsy.co/pink/studying.svg", alt:"Boy with a book", class:"images"%>
      </div>
    <div >
    <div class="banner" style="background:#f9e8e3;">
      <h1 id="about">About us</h1>
      <div style="padding-top:20px;">
      <p>Traditional book recommendation platforms often rely on popularity metrics and trends rather than providing personalized and curated recommendations with no meaning. Many readers struggle to find books that truly resonate with them on a deeper level or reflect the interests and influences of their favorite public figures.</p>
      <p>Bibliotech is for those avid readers who are seeking more personalized and meaningful book recommendations. This includes individuals who admire and follow specific public figures, such as celebrities, authors, influencers, politicians, or thought leaders, and are interested in exploring the books that have shaped their worldview!</p>
      </div>
    </div>
  </div>
</div>