<div class="search-container", style="margin-bottom:7%">
  <div class="image-wrapper">
    <%= image_tag "homepage.png", alt: "Centered Image" %>
  </div>
  <%= form_with url: search_books_path, method: :get, local: true, html: {data: {controller: "alert", action:"submit->alert#initSweetalert"}},class: "search-form" do |form| %>
    <div class="search-wrapper">
      <%= text_field_tag :query, nil, placeholder: "enter the name of your favourite figure to find what inspired them", class: "search-input" %>
      <button type="submit" class="search-button" >
        <%= image_tag "magnify.png", alt: "Search" %>
      </button>
    </div>
  <% end %>
</div>
<div class=" container text-center", style="margin-bottom:10%">
</div>
<div class="container", style="padding-bottom:5%;">
    <div style="float:right;">
      <%= image_tag "https://illustrations.popsy.co/blue/question-mark.svg", alt:"Girl with question mark", class:"images"%>
    </div>
  <div>
  <div class="banner" style="background:#f9e8e3;">
    <h1 id="how">How it works</h1>
    <div style="padding-top:20px;">
      <p><strong>Uncover new Inspirations:</strong> Who's your role model? Which public figure motivates you?</p>
      <p><strong>Discover new Books:</strong> Ever wondered what books inspired them?</p>
      <p><strong>Search & Get Recommendations:</strong> Type their name in the search bar above.</p>
      <p><strong>AI-Powered Reading List:</strong> Chat GPT AI generates a tailored reading list for you!</p>
      <p><strong>Build your own Library:</strong> Browse and add books to your personal collection!</p>
    </div>
  </div>
</div>
</div>
  <div class="container", style="padding-bottom:5%;">
      <div style="float:left;">
        <%= image_tag "https://illustrations.popsy.co/pink/studying.svg", alt:"Boy with a book", class:"images"%>
      </div>
    <div >
    <div class="banner" style="background:#f9e8e3;">
      <h1 id="about">About us</h1>
      <div style="padding-top:20px;">
        <p>Traditional book platforms often rely on trends and popularity metrics,
            often lacking that personal touch and meaning. Many readers struggle to find books
            that deeply resonate with them or reflect the interests of their icon.
        </p>
        <p><strong>Bibliotech</strong> offers a solution for avid readers seeking personalized and
            meaningful recommendations. Whether you admire celebrities, authors, influencers, politicians,
            or thought leaders, Bibliotech helps you explore the books that have shaped their worldviews.
            Discover the literature that inspires your role models and build a truly reflective reading list.
        </p>
      </div>
    </div>
  </div>
</div>
