<h1 style="text-align: center; font-size: 16px;"><strong>Your Reading List</strong></h1>

<% if @books.any? %>
  <div class="library-container-vertical">
    <% @books.each do |book| %>
      <% if book.is_a?(Hash) %>
        <div data-controller="books" data-books-url-value="<%= books_url %>" class="library-card-vertical" data-target="books.card">
          <% if book['cover_url'] %>
            <div class="library-card-content-vertical">
              <img src="<%= book['cover_url'] %>" alt="Book cover" class="book-cover-vertical" data-target="books.cover">
              <div class="book-info-vertical">
                <div class="title-author-vertical">
                  <span class="book-title-vertical" data-target="books.title"><%= book['title'] %></span>
                  <span class="book-author-vertical" data-target="books.author">by <%= book['author'] %></span>
                </div>
                <div class="book-details-vertical">
                  <strong>Description:</strong> <span data-target="books.description"><%= book['description'] %></span><br>
                  <strong>Source:</strong> <span data-target="books.source"><%= book['source'] %></span><br>
                  <strong>ISBN:</strong> <span data-target="books.isbn"><%= book['isbn'] %></span><br>
                </div>
                <%= form_with model: Book.new, url: books_path, data: { action: "submit->books#add", 'books-target': "form" } do |f| %>
                  <div class="button-container">
                    <%= f.hidden_field :title, value: book['title'] %>
                    <%= f.hidden_field :author, value: book['author'] %>
                    <%= f.hidden_field :description, value: book['description'] %>
                    <%= f.hidden_field :source, value: book['source'] %>
                    <%= f.hidden_field :isbn, value: book['isbn'] %>

                    <%= f.submit "Save to Library", class: "results-button", data: { 'books-target': 'button' } %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Invalid book data: <%= book.inspect %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No books found.</p>
<% end %>
