<h1 style="text-align: center; font-size: 16px;"><strong>Your Reading List</strong></h1>

<% if @books.any? %>
  <div class="cards-container">
    <% @books.each do |book| %>
      <% if book.is_a?(Hash) %>
        <div class="card">
          <% if book['cover_url'] %>
            <img src="<%= book['cover_url'] %>" alt="Book cover" style="width:100px;height:150px;"><br>
          <% end %>
          <strong>Title:</strong> <%= book['title'] %><br>
          <strong>Author:</strong> <%= book['author'] %><br>
          <strong>Description:</strong> <%= book['description'] %><br>
          <strong>Source:</strong> <%= book['source'] %><br>
          <strong>ISBN:</strong> <%= book['isbn'] %><br>
          <%= form_with url: save_books_path, method: :post, local: true do %>
            <%= hidden_field_tag 'book[title]', book['title'] %>
            <%= hidden_field_tag 'book[author]', book['author'] %>
            <%= hidden_field_tag 'book[description]', book['description'] %>
            <%= hidden_field_tag 'book[source]', book['source'] %>
            <%= hidden_field_tag 'book[isbn]', book['isbn'] %>
            <%= submit_tag "Save to Library", class: "results-button" %>
          <% end %>
        </div>
      <% else %>
        <p>Invalid book data: <%= book.inspect %></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No books found.</p>
<% end %>
