<!-- app/views/books/search.html.erb -->
<h1>Search Results</h1>

<% if @books.any? %>
  <div class="cards-container">
    <% @books.each do |book| %>
      <div class="card">
        <strong>Title:</strong> <%= book['title'] %><br>
        <strong>Author:</strong> <%= book['author'] %><br>
        <%= form_with url: books_path, method: :post, local: true do %>
          <%= hidden_field_tag :title, book['title'] %>
          <%= hidden_field_tag :author, book['author'] %>
          <%= submit_tag "Save to Library" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No books found.</p>
<% end %>
