<!DOCTYPE html>
<html>
<head>
  <title>Bibliotech</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <div class="navbar-left">
        <%= link_to 'bibliotech', root_path, class: 'navbar-link logo', id:"top" %>
        <a href="#how" class="navbar-link">how it works</a>
        <a href="#about" class="navbar-link">about us</a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-right">
          <ul class="navbar-nav me-auto" style="padding-right:10px">
            <% if user_signed_in? %>
              <li class="nav-item active">
              </li>
              <li class="nav-item dropdown">
                <%= image_tag "https://static-00.iconduck.com/assets.00/user-avatar-2-icon-256x255-dc62jobf.png", class: "avatar-square", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Profile", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <%= link_to 'your library', library_path, class: 'navbar-link library' %>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to 'bibliotech', root_path, class: 'navbar-link logo' %>
  </div>
</div>
  <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        style="background:#F674B4; color:white;"
        >
  <i class="fas fa-arrow-up"></i>
</button>
</body>
</html>
