<!DOCTYPE html>
<html>
<head>
  <title>Bibliotech</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-left">
        <%= link_to 'bibliotech', root_path, class: 'navbar-link logo' %>
        <%= link_to 'how it works', how_it_works_path, class: 'navbar-link' %>
      </div>
      <div class="navbar-right">
        <%= link_to 'login', '#', class: 'navbar-link login' %>
        <%= link_to 'your library', library_path, class: 'navbar-link library' %>
      </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
