<!DOCTYPE html>
<html>
<head>
  <title>Bibliotech</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-left">
        <%= link_to 'bibliotech', root_path, class: 'navbar-link logo' %>
        <%= link_to 'how it works', how_it_works_path, class: 'navbar-link' %>
      </div>
      <div class="navbar-right">
        <div>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Messages", "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>
        <%= link_to 'your library', library_path, class: 'navbar-link library' %>
      </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
